* {
  padding:0;
  margin:0;
  box-sizing: border-box; 
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(31, 31, 31);
  color:white;
}

.container-fluid {
  padding:0;
}

.main-container {
  min-height:100vh;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
}

.article-main, .article-list-main, .form-main{
  padding-top:1em;
}

/*navbar*/
nav {
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}

nav img {
  max-height: 1em;
}
.navbar-brand {
  font-size:1.5em;
  margin-left:1em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.custom-navbar {
  background-color: rgb(0, 0, 0)!important;
}

.search {
  padding-right:1em;
}

/*article*/


.article-main img {
  width:100%;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content : center;
}

.article-text {
  margin-top:1em;
  text-align: justify;
}

.spotify-div {
  left: 0; 
  width: 100%; 
  height: 352px; 
  position: relative;
  margin-bottom:1em;
}

.spotify-iframe {
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  border: 0;
}

.line {
  border: 2px solid white;
}

.articlebtn, .articlebtn a {
  background-color: transparent;
  border: none;
  color:#acacac; 
  text-decoration: underline;
}

.articlebtn:hover, .articlebtn a:hover {
  color:white;
} 

/*article list*/
.cards-row {
  justify-content: space-between;
}

.card {
  background-color: transparent;
  display: flex;
  align-items: center;
  border:none;
}

.card .row {
  display: flex;
  align-items: center;
}

.card a {
  color:#acacac;
}

.card a:hover {
  color:white;
}

.card-title {
  text-transform: uppercase ;
}

.article-bottom {
  padding-top:1em;
}

/*form*/
.form-main {
  text-transform: uppercase;
}

.form-control:focus {
  border-color: #0bdd7b;
  box-shadow: 0 0 5px #00ff88;
}

/*footer*/ 
.footer {
  background-color: rgb(0, 0, 0);
  margin-top: 1em;
}

/*modal*/
.modal {
  color:black;
}

.modal a {
  color:#20c997;
}

.modal a:hover {
  color:#198754;
}


/*nav bar collapsed*/
@media (max-width:768px) {
  .nav-item, .search {
    margin-left:1.5em;
  }
}